In [4]:
import numpy as pd
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
!git clone https://github.com/klyambda/fake-news.git

Cloning into 'fake-news'...
remote: Enumerating objects: 26, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (21/21), done.
remote: Total 26 (delta 6), reused 18 (delta 2), pack-reused 0
Unpacking objects: 100% (26/26), done.

In [19]:
train = pd.read_csv('fake-news/dataset/train.csv')
test = pd.read_csv('fake-news/dataset/test.csv')

train.head(5)

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]